

/* BMI Calculator Styles */
.bmi-calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.904);
    margin-top: 30px;
    
    background-image: url('../asset/picturs/img3.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bmi-calculator form {
    display: flex;
    flex-direction: column;
}

.bmi-calculator label {
    margin-top: 10px;
    font-weight: bold;
}

.bmi-calculator input, .bmi-calculator select {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.bmi-calculator button {
    padding: 12px;
    background-color: #14157c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.bmi-calculator button:hover {
    background-color: #0056b3;
}

#bmi-result {
    margin-top: 20px;
}

#bmi-result p {
    font-size: 30px;
    color: #020103f1;
}
